
<div class="container">



<h1>Admin Tags Edit</h1>
<%= form_for [:admin, @tag] do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.submit %></p>
  <% end %>


</div>
