<%=




# url = "https://newsapi.org/v1/articles?source=bbc-news&sortBy=top&apiKey=3329a36068a14512b9acb66f2b8f800a"
# data = JSON.parse(open(url).read)


#def self.articles (
#  @urlArticles = Net::HTTP.get(URI.parse('https://newsapi.org/v1/articles?source=bbc-news&sortBy=top&apiKey=3329a36068a14512b9acb66f2b8f800a'))
  #@urlArticlesArray = ActiveSupport::JSON.decode(:urlArticles, true)

   #@articles = @urlArticlesArray do |articles|
  # for(@i = 0; @i < count(@articles); @i++) {
    # @sites = @urlArticlesArray['articles'][@i]

/* news-item from site.css */
  #   concat '<li class="news-item">
  #   <table cellpadding="4">
  #   <tr>
  #   <td><img src="'.$sites['urlToImage'].'" width="80" " /></td>
  #   <td>&nbsp;</td>
  #   <td>'.$sites['title'].'<a href="'.$sites['url'].'" style="color:blue;"> Read more...</a></td>
  #   </tr>
  #   </table>
  #   </li>';
     }
)

#end

 %>
