<div class="container">


<h1>About</h1>

<br>
<h3><p>This web blog is build via Ruby on Rails</p> <br>
<p>
  Student Name: Yunqing Peng Student ID: U1666660 Framework Name: Ruby on Rails
</p>
</h3>

<%=  %>

</div>
